.section-icon {
  @include tablet {
    display: flex;
  }

  display: none;

  align-items: center;
  justify-content: center;
}

.icon {
  width: 100%;
  height: 100%;
  margin-bottom: 0.5rem;

  svg {
    width: 100%;
    height: 100%;
  }

  &.icon--people {
    max-width: 7rem;
    max-height: 7rem;
  }

  &.icon--truck {
    max-width: 5rem;
    max-height: 5rem;
  }

  &.icon--yellow {
    svg {
      fill: $yellow;
    }
  }
}
