@font-face {
  font-family: 'Source Sans Pro';
  font-weight: normal;
  font-style: normal;

  src: local('Source Sans Pro Light'), local('SourceSansPro-Light'),
    url('/fonts/subset-SourceSansPro-Light.woff2') format('woff2'),
    url('/fonts/subset-SourceSansPro-Light.woff') format('woff');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-weight: bold;
  font-style: normal;

  src: local('Source Sans Pro'), local('SourceSansPro-Regular'),
    url('/fonts/subset-SourceSansPro-Regular.woff2') format('woff2'),
    url('/fonts/subset-SourceSansPro-Regular.woff') format('woff');
}

html {
  @include tablet {
    font-size: 100%;
  }

  font-size: 90%;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.4rem;
  font-weight: normal;
}
