<template>
  <b-modal
    :active.sync="isModalActiveLocal"
    scroll="keep"
  >
    <div class="card">
      <div class="section">
        <BlockContent :blocks="content" />
      </div>
    </div>
  </b-modal>
</template>

<script>
import BlockContent from 'sanity-blocks-vue-component'

export default {
  components: {
    BlockContent
  },
  props: {
    isModalActive: {
      type: Boolean
    },
    content: {
      type: Array,
      default() {
        return []
      }
    }
  },
  data() {
    return {
      isModalActiveLocal: this.isModalActive
    }
  }
}
</script>

<style lang="scss">
@import 'bulma/sass/utilities/mixins';

.modal-content {
  @include tablet {
    max-width: 640px !important;
  }

  max-width: 95% !important;
}

.modal-close {
  display: initial !important;
}
</style>

<style lang="scss" scoped>
.modal {
  z-index: 9999;
}

.section {
  text-align: center;
}
</style>
