<template>
  <fragment>
    <h3 class="product-category">
      {{ title }}
    </h3>
    <table>
      <tbody>
        <tr
          v-for="product in products"
          :key="product._id"
        >
          <td class="product-name">
            {{ product.name }}
            <span
              v-if="product.info"
              class="product-extra-info"
            >{{ product.info }}</span>
          </td>
          <td class="product-price">
            {{ product.price ? product.price : '—' }}
          </td>
        </tr>
      </tbody>
    </table>
  </fragment>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default: ''
    },
    products: {
      type: Array,
      default() {
        return []
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.product-category {
  margin-bottom: 0.7rem;
  padding-left: 0.7rem;

  font-size: 1.2em;
  font-weight: bold;
}

table {
  width: 100%;

  border-spacing: 0.5rem;

  border-collapse: separate;

  td {
    padding: 0.8rem;

    vertical-align: middle;
  }
}

.product-name {
  padding-left: 0.7rem;

  text-transform: uppercase;

  color: #fff;
  background-color: #222;
}

.product-price {
  width: 5em;

  text-align: center;

  color: #222;
  background-color: #fd0;
}

.product-name,
.product-price {
  font-size: 0.85em;
  font-weight: bold;
}

.product-extra-info {
  display: block;

  font-size: 0.85em;
}
</style>
