<template>
  <section class="section is-medium">
    <div class="container">
      <div class="content">
        <h2>MOŻLIWOŚĆ PŁATNOŚCI KARTĄ</h2>
        <p>Oferujemy węgiel luzem i workowany.</p>
        <p>
          Transport węgla
          <strong>GRATIS</strong> do 10&nbsp;km od składu (przy zamówieniu powyżej 1&nbsp;tony).
        </p>
        <p>Przy małych zamówieniach atrakcyjne ceny.</p>
        <p
          v-if="settings[0].inlineMessage"
          class="special-info"
        >
          <strong>
            {{ settings[0].inlineMessage }}
          </strong>
        </p>

        <div class="legal-notice">
          Podane ceny są cenami brutto węgla luzem za 1 tonę bez akcyzy. Niniejsza oferta nie stanowi oferty w rozumieniu Kodeksu Cywilnego
        </div>
      </div>

      <div class="columns is-multiline">
        <div
          v-for="category in categories"
          :key="category._id"
          class="column is-half"
        >
          <ProductTable
            :title="category.name"
            :products="categoryProducts(category._id)"
          />
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import gql from 'graphql-tag'
import ProductTable from './ProductTable'

export default {
  apollo: {
    settings: gql`
      query getInlineMessage {
        settings: allSettings {
          inlineMessage
        }
      }
    `,
    categories: gql`
      query getCategories {
        categories: allCategory(sort: { order: ASC }) {
          _id
          name
          order
        }
      }
    `,
    products: gql`
      query getProducts {
        products: allProduct(sort: { price: ASC }) {
          _id
          name
          info
          price
          category {
            name
            _id
          }
        }
      }
    `
  },
  components: {
    ProductTable
  },
  methods: {
    categoryProducts: function(categoryId) {
      return this.products.filter(prod => {
        return prod.category._id === categoryId
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.content {
  h2 {
    margin-bottom: 2em;

    text-align: center;

    font-size: 1.8rem;
  }

  p {
    margin: 0 0 0.4rem;
  }

  .special-info {
    margin-top: 2em;
    margin-bottom: 2em;

    text-align: center;
  }

  .legal-notice {
    margin-top: 3rem;
    padding-top: 0.4rem;
    padding-bottom: 3rem;

    border-top: 1px solid #0a0a0a;

    font-size: 0.7em;
  }
}
</style>
