<template>
  <section class="section is-medium">
    <div class="container">
      <div class="columns is-centered is-multiline">
        <div class="column is-half">
          <div class="address-item-wrapper">
            <div class="address-item">
              <div class="address-icon">
                <b-icon
                  pack="fa"
                  icon="map-marker-alt"
                />
              </div>
              <div class="address-data">
                <p>Szosa Baranowicka 60A</p>
                <p>15-522 Białystok, Zaścianki</p>
              </div>
            </div>

            <div class="address-item phone">
              <div class="address-icon">
                <b-icon
                  pack="fa"
                  icon="phone"
                />
              </div>
              <div class="address-data">
                <p>
                  <a href="tel:+48857418745">85 741 8745</a>
                </p>
                <p>
                  <a href="tel:+48513170942">513 170 942</a>
                </p>
                <p>
                  <a href="tel:+48500815122">500 815 122</a>
                </p>
              </div>
            </div>

            <div class="address-item">
              <div class="address-icon">
                <b-icon
                  pack="far"
                  icon="envelope"
                />
              </div>
              <div class="address-data">
                <p>
                  <a href="mailto:biuro@impet-bialystok.com">biuro@impet-bialystok.com</a>
                </p>
              </div>
            </div>

            <div class="address-item">
              <div class="address-icon">
                <b-icon
                  pack="far"
                  icon="clock"
                />
              </div>
              <div class="address-data">
                <p>
                  <span class="week-days">Pn–Pt</span> 08:00–16:00
                </p>
                <p>
                  <span class="week-days">Sb</span> 08:00–13:00
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="column is-half">
          <div class="address-item-wrapper">
            <div class="map">
              <iframe
                style="border: 0;"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d598.5425763792771!2d23.24354669293885!3d53.12508834166619!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471fff2048448b4f%3A0x49634b5bd81809f3!2sIMPET+PUH+Radziszewska+Barbara!5e0!3m2!1spl!2spl!4v1527015957757"
                width="400"
                height="300"
                frameborder="0"
                allowfullscreen="allowfullscreen"
              />
            </div>
          </div>
        </div>

        <div class="column">
          <div class="facebook-wrapper">
            <a
              href="https://web.facebook.com/impetbialystok"
              target="_blank"
            >

              <b-icon
                pack="fab"
                icon="facebook"
              />
              facebook.com/IMPET
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<style lang="scss" scoped>
$time: 0.2s;

a {
  position: relative;

  transition: color $time ease-in-out;

  color: #c33;

  &:hover {
    color: #521414;

    &::after {
      transform: scaleX(1);

      background-color: #521414;
    }
  }

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 1px;

    content: '';
    transition: transform $time ease-in-out, background-color $time ease-in-out;
    transform: scalex(0);

    background-color: #c33;
  }
}

.address-item {
  display: flex;
  flex-direction: row;

  margin-bottom: 2rem;

  &.phone {
    .icon {
      transform: rotateY(180deg);
    }
  }
}

.icon {
  color: #0a0a0a;
}

.address-icon {
  width: 4rem;
  margin-bottom: 0.5em;
  padding-right: 1rem;
}

.map-wrapper {
  display: flex;
}

.map {
  position: relative;

  width: 100%;
  max-width: 15em;
  height: 100%;
  max-height: 15em;
  margin-bottom: 2rem;
  padding-bottom: 100%;

  border: 1px solid #fd0;

  iframe {
    position: absolute;

    width: 100%;
    height: 100%;
  }
}

.address-item-wrapper {
  max-width: 15em;
  margin: 0 auto;
}

.facebook-wrapper {
  display: flex;

  align-items: center;
  justify-content: center;

  a {
    padding-left: 2.2rem;

    &::after {
      left: 2.2rem;

      width: calc(100% - 2.2rem);
    }
  }

  .icon {
    position: absolute;
    bottom: 0.3em;
    left: 0;

    width: 1em;
    height: 1em;
    margin-bottom: 0;
  }
}
</style>
