<template>
  <section class="section is-medium">
    <div class="container container--narrow">
      <div class="columns">
        <div class="column is-9">
          <p>Świadczymy usługi transportowe wywrotkami do 5,5&nbsp;tony.</p>
          <p>Ważenie na wadze elektronicznej.</p>
        </div>
        <div class="column section-icon">
          <div
            class="icon icon--truck icon--yellow"
            v-html="require('~/assets/icons/icon-truck.svg?include')"
          />
        </div>
      </div>
    </div>
  </section>
</template>
