<template>
  <footer class="footer">
    © {{ currentYear }} P.U.H. IMPET, Białystok
  </footer>
</template>

<script>
export default {
  computed: {
    currentYear: function() {
      return new Date().getFullYear()
    }
  }
}
</script>

<style lang="scss" scoped>
.footer {
  padding-bottom: 3rem;

  text-align: center;

  background-color: #fd0;

  font-size: 0.85em;
}
</style>
