<template>
  <section class="section is-medium">
    <div class="container container--narrow">
      <div class="columns">
        <div class="column is-3 is-2-desktop section-icon">
          <div
            class="icon icon--people icon--yellow"
            v-html="require('~/assets/icons/icon-people.svg?include')"
          />
        </div>
        <div class="column is-offset-1-desktop">
          <p>Firma IMPET powstała w 2005 roku.</p>
          <p>Posiadamy ponad 30-letnie doświadczenie w handlu opałem.</p>
          <p>Oferujemy bogaty asortyment węgla grubego i ekogroszku.</p>
          <p>Czeka na Państwa miła i rzetelna obsługa.</p>
        </div>
      </div>
    </div>
  </section>
</template>
