<template>
  <section
    class="parallax"
    :class="{hero}"
  >
    <div
      v-rellax="{speed: -1, center: true}"
      class="rellax"
    >
      <div
        class="section-image"
        :style="{backgroundImage: `url(${imagePath})`}"
      />
    </div>
    <div class="section-image-text">
      <div class="section">
        <div class="container">
          <div v-if="hero">
            <h1>IMPET</h1>
            <h2>Skład opału</h2>
          </div>
          <div v-else>
            {{ title }}
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default: ''
    },
    hero: {
      type: Boolean
    },
    image: {
      type: String,
      default: ''
    }
  },
  computed: {
    imagePath() {
      return require(`~/assets/images/${this.image}.jpg`)
    }
  }
}
</script>

<style lang="scss" scoped>
$tablet: 640px;

@import 'bulma/sass/utilities/mixins';

.section {
  padding-top: 0;
}

.parallax {
  position: relative;

  overflow: hidden;

  height: 40vh;

  background-color: #ccc;

  &.hero {
    height: 80vh;
  }
}

.hero {
  h1,
  h2 {
    text-shadow: 0 0 7px rgba(0, 0, 0, 1);

    line-height: 1.2;
  }
  h1 {
    @include tablet {
      font-size: 8rem;
    }

    font-size: 6rem;
  }
  h2 {
    @include tablet {
      font-size: 4rem;
    }

    font-size: 3rem;
  }
}

.rellax {
  height: 100%;
}

.section-image {
  position: absolute;
  top: -10%;

  width: 100%;
  height: 120%;

  background-color: #000;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;

  &::after {
    position: absolute;

    width: 100%;
    height: 100%;

    content: '';

    background: rgba(0, 0, 0, 0.4);
    background: linear-gradient(
      110deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.8) 20%,
      rgba(0, 0, 0, 0.3) 50%,
      rgba(0, 0, 0, 0) 100%
    );

    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=1 );
  }
}

.section-image-text {
  position: absolute;
  z-index: 300;
  top: 5vh;

  width: 100%;

  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 1);

  font-size: 3rem;
}
</style>
