<template>
  <div>
    <SectionParallax
      :hero="true"
      image="hero"
      title="IMPET"
    />
    <SectionAbout />
    <SectionParallax
      image="services"
      title="Usługi"
    />
    <SectionServices />
    <SectionParallax
      image="products"
      title="Cennik"
    />
    <SectionProducts />
    <SectionParallax
      image="contact"
      title="Kontakt"
    />
    <SectionContact />
    <SectionFooter />

    <InfoModal
      v-if="isModalActive"
      :is-modal-active="isModalActive"
      :content="settings[0].modalMessageRaw"
    />
  </div>
</template>

<script>
import gql from 'graphql-tag'

import SectionParallax from '../components/SectionParallax'
import SectionAbout from '../components/SectionAbout'
import SectionServices from '../components/SectionServices'
import SectionProducts from '../components/SectionProducts'
import SectionContact from '../components/SectionContact'
import SectionFooter from '../components/SectionFooter'

import InfoModal from '../components/InfoModal'

export default {
  apollo: {
    settings: gql`
      query getModalMessage {
        settings: allSettings {
          modalMessageRaw
        }
      }
    `
  },
  components: {
    SectionParallax,
    SectionAbout,
    SectionServices,
    SectionProducts,
    SectionContact,
    SectionFooter,
    InfoModal
  },
  computed: {
    isModalActive() {
      return !!this.settings[0].modalMessageRaw
    }
  }
}
</script>
